
/* Debut CSS de la Structure */
.navbar {
	background: #78A1BB;
	z-index: 1;
	margin-top: 2%;
}
#navbarNav{
	margin-top: 10%;
}
#liseret{
	height: 500px;
	width: 20%;
	background: #2F2F3A;
	margin-left: 2%;
	margin-top: 0.5%;
}
.navbar-nav .nav-link {
	float: right;
}
#nameDeux{
  color: white;
}
#myName{
  margin-top: 20%;
  font-size: 50%;
  margin-left: 32%;
  font-weight: bold;
  position: fixed;
  z-index: 1;
}
#presentation{
	margin-left: 20%;
  padding-top: 25%;
  text-align: center;
  font-family: "Manjari Bold";
}
#experiences{
	margin-left: 10%;
  padding-top: 25%;
	font-size: 90%;
  text-align: center;
  font-family: "Manjari Bold";
}
#formations{
	padding-top: 27%;
	margin-left: 10%;
  text-align: center;
  font-family: "Manjari Bold";
}
#competences{
  padding-top: 26%;
  margin-left: 20%;
  text-align: center;
  font-family: "Manjari Bold";
}
.progress{
  font-weight: bold;
  background-color: grey;
}
#white{
  height: 10px;
  width: auto;
}
#projetNum{
  margin-left: 20%;
  padding-top:30%;
  text-align: center;
  font-family: "Manjari Bold";
}
#contacts{
  padding-top:32%;
  margin-left: 20%;
  text-align: center;
  font-family: "Manjari Bold";
}
 @media screen and (max-width: 800px){
   #liseret{
 display: none;
   }

   #nameDeux{
     color: #2F2F3A;
   }
   #myName{
     display: none;
   }
   #presentation{
     margin-right: 10%;
     padding-top: 25%;
     font-family: "Manjari Bold";
   }
   #experiences{
    padding-top: 25%;
   	font-size: 90%;
     text-align: center;
     font-family: "Manjari Bold";
   }
   #formations{
   	padding-top: 27%;
     text-align: center;
     font-family: "Manjari Bold";
   }
   #competences{
     padding-top: 26%;
     text-align: center;
     font-family: "Manjari Bold";
   }
   .progress{
     font-weight: bold;
     background-color: grey;
   }
   #white{
     height: 10px;
     width: auto;
   }
   #projetNum{
     padding-top:30%;
     text-align: center;
     font-family: "Manjari Bold";
   }
   #contacts{
     padding-top:32%;
     text-align: center;
     font-family: "Manjari Bold";
   }
}
